#extension_total {
  color: #2874f0;
  /*width: 200px;*/
  height: 33px;
  /*dark blue*/
  font: 15px sans-serif;
  background-color: #ff9f00;
  padding-left: 20px;
  padding-right: 20px;
  /*light gray*/
  /*background-color: #fafafa;*/
  z-index: 999;
  /*position: fixed;
  margin-top: -1px;*/
  position: absolute;
  left: 520px;
  top: 670px; 
  border-bottom-left-radius: 5px;
}

#extension_total1 {
  color: #2874f0;
  /*width: 200px;*/
  height: 33px;
  /*dark blue*/
  font: 15px sans-serif;
  background-color: #ff9f00;
  padding-left: 20px;
  padding-right: 20px;
  /*light gray*/
  /*background-color: #fafafa;*/
  z-index: 999;
  /*position: fixed;
  margin-top: -1px;*/
  position: absolute;
  left: 520px;
  top: 720px; 
  border-bottom-left-radius: 5px;
}

#extension_total2 {
  color: #2874f0;
  /*width: 200px;*/
  height: 33px;
  /*dark blue*/
  font: 15px sans-serif;
  background-color: #ff9f00;
  padding-left: 20px;
  padding-right: 20px;
  /*light gray*/
  /*background-color: #fafafa;*/
  z-index: 999;
  /*position: fixed;
  margin-top: -1px;*/
  position: absolute;
  left: 520px;
  top: 770px;
  border-bottom-left-radius: 5px;
}


div#container{
  border-top: 0;
}
